<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/blogs.js"></script>
    <script type="text/javascript">
            var bodyBgs = [];
            bodyBgs[0] = "/static/images/bg1.jpg";
            bodyBgs[1] = "/static/images/bg2.jpg";
            bodyBgs[2] = "/static/images/bg3.jpg";
            bodyBgs[3] = "/static/images/bg4.jpg";
            bodyBgs[4] = "/static/images/bg5.jpg";
            bodyBgs[5] = "/static/images/bg6.jpg";
            bodyBgs[6] = "/static/images/bg7.jpg";
            <!--bodyBgs[7] = "/static/images/bg8.jpg";-->
            <!--bodyBgs[8] = "/static/images/bg9.jpg";-->
            var randomBgIndex = Math.round( Math.random() * 6 );
        //输出随机的背景图
            document.write('<style>body{background:url(' + bodyBgs[randomBgIndex] + ') repeat 50% 0}</style>');
    </script>
    <title>MidNight</title>
</head>
<body>
    <div class="head clearfix">
        <div class="left title">夜弄影</div>
        <div class="left title2">的小苑</div>
        <div class="right title2">
            <span><a href="/blog">主页</a></span>
            <span class="selected"><a href="/blog/blogs">博客</a></span>
            <span><a href="/weibo">留言板</a></span>
            <span><a href="/profile">用户</a></span>
        </div>
    </div>

    <div class="body-blogs">
        <!--<div class="blog-input">-->
            <!--<form action="/blog/add" method="post" style="padding-top: 5px;">-->
                <!--<input name="title" class="blog-t" placeholder="Title">-->
                <!--<br>-->
                <!--<textarea name="content" class="blog-c" placeholder="Blog"></textarea>-->
                <!--<br>-->
                <!--<button class="button-blog-add button-blogs" type="submit" style="display: inline-block">发布博客</button>-->
            <!--</form>-->
        <!--</div>-->

        <div class="blogs-content">
            {% for b in blogs %}
                <div class="blogs-cell">
                        <span class="">{{ b.title }}</span>
                        <div class="right">
                            <span class="">{{ b.created_time }}</span>
                            <span class="">by:{{ b.name }}</span>
                        </div>
                    <pre class="blogs-content">{{ b.content }}</pre>
                    <div class="">
                        <a href="#" class="pylp" style="color: white;">评论({{ b.comments_num }})</a>
                    </div>
                    <div class="blog-comment comment-div hide">
                        <div class="comment-list">
                        {% for c in b.comment %}
                            <div class="cell-inner item">
                                <img src="{{ c.avatar }}" class="avatar-s">
                                <span class="comment">{{ c.comment }}</span>
                                <span class="right">{{ c.created_time }}</span>
                                <span class="right">by:{{ c.name }}</span>
                            </div>
                        {% endfor %}
                        </div>
                        <form action="/blog/comment" method="post" class="comment-form">
                            <div class="comment-form">
                                <input type="hidden" name="blog_id" class="profile-uuru" value="{{ b.id }}">
                                <input name="comment" class="profile-uuru" placeholder="Comment" style="width: 50%;">
                                <br>
                                <button class="blog-comment-add button-blogs" style="margin: 2px;">发表</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
