<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/particles.js"></script>
    <style>
        #particles-js {
            height: 100%;
        }
    </style>
    <title>个人资料</title>
</head>
<body>
    <div class="head clearfix">
        <div class="left title">夜弄影</div>
        <div class="left title2">的小苑</div>
        <div class="right title2">
            <span><a href="/blog">主页</a></span>
            <span><a href="/blog/blogs">博客</a></span>
            <span><a href="/weibo">留言板</a></span>
            <span class="selected"><a href="/profile">用户</a></span>
        </div>
    </div>


    <div id="particles-js">

        <script>
        /* source: https://github.com/VincentGarreau/particles.js */

        particlesJS('particles-js', {
            particles: {
                color: '#fff',
                shape: 'circle',
                opacity: 1,
                size: 2.5,
                size_random: true,
                nb: 100,
                line_linked: {
                    enable_auto: true,
                    distance: 250,
                    color: '#fff',
                    opacity: 0.5,
                    width: 1,
                    condensed_mode: {
                        enable: false,
                        rotateX: 600,
                        rotateY: 600
                    }
                },
                anim: {
                    enable: true,
                    speed: 2
                }
            },
            interactivity: {
                enable: true,
                mouse: {
                    distance: 200
                },
                mode: 'grab'
            },
            retina_detect: true
        });
        </script>

        <script type="text/javascript">
            var bodyBgs = [];
            bodyBgs[0] = "/static/images/bg1.jpg";
            bodyBgs[1] = "/static/images/bg2.jpg";
            bodyBgs[2] = "/static/images/bg3.jpg";
            bodyBgs[3] = "/static/images/bg4.jpg";
            bodyBgs[4] = "/static/images/bg5.jpg";
            bodyBgs[5] = "/static/images/bg6.jpg";
            bodyBgs[6] = "/static/images/bg7.jpg";
            <!--bodyBgs[7] = "/static/images/bg8.jpg";-->
            <!--bodyBgs[8] = "/static/images/bg9.jpg";-->
            var randomBgIndex = Math.round( Math.random() * 6 );
        //输出随机的背景图
            document.write('<style>body{background:url(' + bodyBgs[randomBgIndex] + ') repeat 50% 0}</style>');
        </script>
    </div>


    <div class="qmpl-profile" style="min-width: 650px">
        <div class="background">
            <div style="margin-bottom: 2px;">
                用户名： {{ user.username }}
            </div>
            <div>
                <form action="/user/update_password" method="post">
                    密码：
                    <input class="profile-uuru" name="password" value="{{ user.password }}">
                    <button class="button-profile">修改密码</button>
                </form>
            </div>
            <div>
                <form action="/user/update_avatar" method="post">
                    头像：
                    <input class="profile-uuru" name="avatar" value="{{ user.avatar }}" style="width:400px;">
                    <button class="button-profile">修改头像</button>
                </form>
            </div>
            <div class="description" style="margin-bottom: 5px;">
                <p>暂时不支持上传头像将就下吧hh
                    <br>
                    内置了 30 张, 在框框里输入
                    <br>
                    /static/images/avatar(*).jpg
                    <br>
                    * 改成数字 1-30 即可
                    <br>
                    当然也可以直接填外链 url :)
                </p>
            </div>
            <div>
                头像预览：
                <div style="margin-top: 5px;">
                    大<img src="{{ user.avatar }}" class="avatar-l">
                    中<img src="{{ user.avatar }}" class="avatar">
                    小<img src="{{ user.avatar }}" class="avatar-s">
                </div>
            </div>
        </div>
    </div>

</body>
</html>
